<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="author" content="esca.phera@esphera.xyz">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <link rel="stylesheet" type="text/css" href="/design/css/error_style.css">
        <title>{{ data }} Error :: {{ name }}</title>
    </head>
    <body>
        <section class="main">
            <div>
                <h1 data-h1="{{ data }}">{{ data }}</h1>
                <p data-p="{{ text }}">{{ text }}</p>
            </div>
        </section>
    </body>
    <script type="text/javascript" src="/design/js/error.js"></script>
</html>